body {
    background-color: #381272;
    height: 95vh;
    margin: 0;
    position: relative;
}

#title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 50px;
    color: white;
    margin-top: 130px;
}

.cuadro {
    background-color: #fff;
    margin-left: 32%;
    margin-right: 32%;
    border-radius: 1%;
    margin-bottom: 2%;
}

#name {
    width: 95%;
    padding: 12px 0px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

#pin {
    width: 95%;
    padding: 12px 0px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

#host {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;
}

#host:hover {
    text-decoration: underline;
}

#joinButton {
    width: 95%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    background-color: #2f2f2f;
    font-family: 'Raleway', sans-serif;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

#joinButton:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#form_inicio {
    display: flex;
    flex-direction: column;
    padding: 20px;
}


#square {
    position: absolute;
    top: -80px;
    left: -70px;
    width: 500px;
    height: 500px;
    background-color: #321066;
    z-index: -1; 
    border-radius: 20px; 
    transform: rotate(15deg); 
    filter: blur(3px);
}

#circle {
    position: absolute;
    top: 50px; 
    right: -150px; 
    width: 400px; 
    height: 400px; 
    background-color: #321066; 
    z-index: -1; 
    border-radius: 50%; 
    filter: blur(3px);
}

#triangle {
    position: absolute;
    bottom: -100px;
    right: 30%;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 200px solid #321066;
    z-index: -1;
    transform: rotate(30deg);
    filter: blur(3px);

}